* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li .navbar__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li .navbar__link:hover {
    color: #f9004d;
    transition: 0.4s;
}

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.4s;
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
    cursor: pointer;
}

.fa-bars {
    display: none;
}

.top-0 {
    top: 0;
}

.fixed {
    position: fixed !important;
}

@media only screen and (max-width: 768px) {
    .fa-bars {
        position: absolute;
        right: 50px;
        top: 50px;
        display: block;
        color: #fff;
        font-size: 24px;
        z-index: 11;
        cursor: pointer;
    }
    .btn {
        display: none;
    }
    nav ul {
        position: fixed;
        left: 0;
        top: -50%;
        width: 100%;
        height: 50vh;
        background: #000000c9;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        transition: all 0.4s ease-in;
    }

    h1 {
        font-size: 35px;
    }
    
    h3 {
        font-size: 20px;
        margin-bottom: 50px;
    }
    
    h4 {
        letter-spacing: 2px;
        font-size: 16px;
    }
    .newslatter form {
        width: 80%;
        position: relative;
    }
}


.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .main img {
        width: 250px;
    }
    .about-text {
        text-align: center;
        width: auto;
        padding: 0px 20px;
    }

    .about-text h2 {
        font-size: 35px;
        margin-top: 10px;
    }
    
    .about-text h5 {
        font-size: 18px;
    }
    
    .about-text p {
        font-size: 14px;
        line-height: 18px;
    }
}

.service {
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: #fff;
    font-size: 75px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 395px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .box {
        flex-direction: column;
    }
    .title h2 {
        font-size: 35px;
    }
}

.contact-me {
    width: 100%;
    height: 290px;
    background: url(../images/dark-background-abstract.png);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}
.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    color: #fff;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.social a:hover {
    transform: scale(1.3);
}

.end { 
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}

.end a {
    color: #f9004d;
}

.end a:hover {
    color: #858585;
}